<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>First App</title>
</head>
<body>
    <header>
        <nav class= "navbar navbar-inverse">
            <ul class="nav nav-bar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/about">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <%- body %>
        </div>
    </main>

    <footer class="rodape">
        Aula de NOde.js 
    </footer>
</body>
</html>